bgColor = #f6f7f9
textColor = #000000
linkColor = #007acc
fontSize = 18px;
fontFamily = "Bitter", 'Hiragino Sans GB', 'Noto Serif SC', serif, monospace;

body
    //display
    display flex
    flex-direction column
    margin 0
    padding 0 2%

    //size
    height 100vh

    // font
    font-size fontSize
    font-family fontFamily
    line-height 1.4
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

    // color
    background bgColor
    @media (max-width: 600px)
        background #fff
    color textColor

html,
body
    transition: background-color .2s ease-in-out;
    scroll-behavior: smooth
    .all-content
        transition: background-color .2s ease-in-out;


h1,
h2,
h3,
h4,
h5,
h6
    margin-top 3rem

ul,
ol,
dl
    margin-bottom 20px


a:link
a:visited
    color #000
    text-decoration none
a:hover
    text-decoration underline


button,
input,
option,
select,
textarea
  font: inherit;


button:focus,
input:focus,
textarea:focus
  outline: 0;

img,
video,
canvas,
iframe
  max-width 100%
  border 0 none

table
    width: 100%;

table,
th,
td
    border: thin solid black
    border-collapse collapse
    padding: 0.4rem

hr
    text-align center
    border 0

hr:before
    content "/////"
hr:after
    content attr(data-content) "/////"

a.header-anchor
  font-size 0.85em
  float left
  margin-left -0.87em
  padding-right 0.23em
  margin-top 0.125em
  opacity 0
  &:hover
    text-decoration none

blockquote
    color gray
    letter-spacing -1px
    border thin solid #e8e8e8;
    padding 0.75rem
    margin 0.75rem
    @media (max-width: 600px)
        font-size fontSize * 0.8
    p
        margin 0


darkBgColor = #17181a
darkWarpColor = #1f2022
darkTextColor = #cfd2d7

// 暗黑模式
[data-theme = dark ]
    html,body
        background-color darkBgColor
        .all-content
            background-color darkWarpColor
            color darkTextColor
            box-shadow: none
            opacity 0.9

        blockquote
            color #fff
            opacity 0.5
        
        pre[class*='language-']
            color darkTextColor
            background-color #282c34

        a:link
        a:visited
            color darkTextColor
        a:hover
            color #fff

        .readerControls
            .readerControls-item
                background-color darkWarpColor
                box-shadow none
            button
                color darkTextColor
            .home 
                background: url(https://s1.ax1x.com/2022/06/22/jpK3k9.png) no-repeat;
            .catalog
                background: url(https://s1.ax1x.com/2022/06/22/jpMrbF.png) no-repeat;
            .dark
                background: url(https://s1.ax1x.com/2022/06/22/jpMO2t.png) no-repeat;
             .top
                background: url(https://s1.ax1x.com/2022/06/22/jpQQi9.png) no-repeat;

@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500&display=swap');