bgColor = #f6f7f9
textColor = #000000
linkColor = #007acc
fontSize = 18px;
fontFamily = "Bitter", 'Hiragino Sans GB', 'Noto Serif SC', serif, monospace;

body
    //display
    display flex
    flex-direction column
    margin 0
    padding 0 2%

    //size
    height 100vh

    // font
    font-size fontSize
    font-family fontFamily
    line-height 1.4
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

    // color
    background bgColor
    @media (max-width: 600px)
        background #fff
    color textColor

html,
body
    transition: background-color .2s ease-in-out;
    scroll-behavior: smooth
    .all-content
        transition: background-color .2s ease-in-out;


h1,
h2,
h3,
h4,
h5,
h6
    margin-top 3rem

ul,
ol,
dl
    margin-bottom 20px


a:link
a:visited
    color #000
    text-decoration none
a:hover
    text-decoration underline


button,
input,
option,
select,
textarea
  font: inherit;


button:focus,
input:focus,
textarea:focus
  outline: 0;

img,
video,
canvas,
iframe
  max-width 100%
  border 0 none

table
    width: 100%;

table,
th,
td
    border: thin solid black
    border-collapse collapse
    padding: 0.4rem

hr
    text-align center
    border 0

hr:before
    content "/////"
hr:after
    content attr(data-content) "/////"

a.header-anchor
  font-size 0.85em
  float left
  margin-left -0.87em
  padding-right 0.23em
  margin-top 0.125em
  opacity 0
  &:hover
    text-decoration none

blockquote
    color gray
    letter-spacing -1px
    border thin solid #e8e8e8;
    padding 0.75rem
    margin 0.75rem
    @media (max-width: 600px)
        font-size fontSize * 0.8
    p
        margin 0


darkBgColor = #17181a
darkWarpColor = #1f2022
darkTextColor = #cfd2d7

// 暗黑模式
[data-theme = dark ]
    html,body
        background-color darkBgColor
        .all-content
            background-color darkWarpColor
            color darkTextColor
            box-shadow: none
            opacity 0.9

        blockquote
            color #fff
            opacity 0.5
        
        pre[class*='language-']
            color darkTextColor
            background-color #282c34

        a:link
        a:visited
            color darkTextColor
        a:hover
            color #fff

        .readerControls
            .readerControls-item
                background-color darkWarpColor
                box-shadow none
            button
                color darkTextColor
            .home 
                background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyNCAyNCcgZmlsbD0nbm9uZScgc3Ryb2tlPScjYmJiJyBzdHJva2Utd2lkdGg9JzEuOCcgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJz48cGF0aCBkPSdNMyAxMWw5LTcgOSA3Jy8+PHBhdGggZD0nTTUgMTB2MTBoNXYtNmg0djZoNVYxMCcvPjwvc3ZnPg==") no-repeat
            .catalog
                background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyNCAyNCcgZmlsbD0nbm9uZScgc3Ryb2tlPScjYmJiJyBzdHJva2Utd2lkdGg9JzEuOCcgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJz48bGluZSB4MT0nNScgeTE9JzYuNScgeDI9JzE5JyB5Mj0nNi41Jy8+PGxpbmUgeDE9JzUnIHkxPScxMicgeDI9JzE5JyB5Mj0nMTInLz48bGluZSB4MT0nNScgeTE9JzE3LjUnIHgyPScxOScgeTI9JzE3LjUnLz48L3N2Zz4=") no-repeat
            .dark
                background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyNCAyNCcgZmlsbD0nbm9uZScgc3Ryb2tlPScjYmJiJyBzdHJva2Utd2lkdGg9JzEuOCcgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJz48Y2lyY2xlIGN4PScxMicgY3k9JzEyJyByPSc0Jy8+PGxpbmUgeDE9JzEyJyB5MT0nMi41JyB4Mj0nMTInIHkyPSc1LjUnLz48bGluZSB4MT0nMTInIHkxPScxOC41JyB4Mj0nMTInIHkyPScyMS41Jy8+PGxpbmUgeDE9JzIuNScgeTE9JzEyJyB4Mj0nNS41JyB5Mj0nMTInLz48bGluZSB4MT0nMTguNScgeTE9JzEyJyB4Mj0nMjEuNScgeTI9JzEyJy8+PGxpbmUgeDE9JzQuOCcgeTE9JzQuOCcgeDI9JzYuOScgeTI9JzYuOScvPjxsaW5lIHgxPScxNy4xJyB5MT0nMTcuMScgeDI9JzE5LjInIHkyPScxOS4yJy8+PGxpbmUgeDE9JzE3LjEnIHkxPSc2LjknIHgyPScxOS4yJyB5Mj0nNC44Jy8+PGxpbmUgeDE9JzQuOCcgeTE9JzE5LjInIHgyPSc2LjknIHkyPScxNy4xJy8+PC9zdmc+") no-repeat
            .top
                background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyNCAyNCcgZmlsbD0nbm9uZScgc3Ryb2tlPScjYmJiJyBzdHJva2Utd2lkdGg9JzEuOCcgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJz48cGF0aCBkPSdNNiAxMmw2LTYgNiA2Jy8+PHBhdGggZD0nTTYgMThoMTInLz48L3N2Zz4=") no-repeat
            .readerControls-item:hover
                .home
                    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyNCAyNCcgZmlsbD0nbm9uZScgc3Ryb2tlPScjZmZmJyBzdHJva2Utd2lkdGg9JzEuOCcgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJz48cGF0aCBkPSdNMyAxMWw5LTcgOSA3Jy8+PHBhdGggZD0nTTUgMTB2MTBoNXYtNmg0djZoNVYxMCcvPjwvc3ZnPg==") no-repeat
                .catalog
                    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyNCAyNCcgZmlsbD0nbm9uZScgc3Ryb2tlPScjZmZmJyBzdHJva2Utd2lkdGg9JzEuOCcgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJz48bGluZSB4MT0nNScgeTE9JzYuNScgeDI9JzE5JyB5Mj0nNi41Jy8+PGxpbmUgeDE9JzUnIHkxPScxMicgeDI9JzE5JyB5Mj0nMTInLz48bGluZSB4MT0nNScgeTE9JzE3LjUnIHgyPScxOScgeTI9JzE3LjUnLz48L3N2Zz4=") no-repeat
                .dark
                    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyNCAyNCcgZmlsbD0nbm9uZScgc3Ryb2tlPScjZmZmJyBzdHJva2Utd2lkdGg9JzEuOCcgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJz48Y2lyY2xlIGN4PScxMicgY3k9JzEyJyByPSc0Jy8+PGxpbmUgeDE9JzEyJyB5MT0nMi41JyB4Mj0nMTInIHkyPSc1LjUnLz48bGluZSB4MT0nMTInIHkxPScxOC41JyB4Mj0nMTInIHkyPScyMS41Jy8+PGxpbmUgeDE9JzIuNScgeTE9JzEyJyB4Mj0nNS41JyB5Mj0nMTInLz48bGluZSB4MT0nMTguNScgeTE9JzEyJyB4Mj0nMjEuNScgeTI9JzEyJy8+PGxpbmUgeDE9JzQuOCcgeTE9JzQuOCcgeDI9JzYuOScgeTI9JzYuOScvPjxsaW5lIHgxPScxNy4xJyB5MT0nMTcuMScgeDI9JzE5LjInIHkyPScxOS4yJy8+PGxpbmUgeDE9JzE3LjEnIHkxPSc2LjknIHgyPScxOS4yJyB5Mj0nNC44Jy8+PGxpbmUgeDE9JzQuOCcgeTE9JzE5LjInIHgyPSc2LjknIHkyPScxNy4xJy8+PC9zdmc+") no-repeat
                .top
                    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyNCAyNCcgZmlsbD0nbm9uZScgc3Ryb2tlPScjZmZmJyBzdHJva2Utd2lkdGg9JzEuOCcgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJz48cGF0aCBkPSdNNiAxMmw2LTYgNiA2Jy8+PHBhdGggZD0nTTYgMThoMTInLz48L3N2Zz4=") no-repeat

@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500&display=swap');
