
bgColor = #ffffff
textColor = #000000
linkColor = #007acc
fontSize = 18px;
fontFamily = "KaiTi",serif

body
    //display
    display flex
    flex-direction column
    margin 0
    padding 0 2%

    //size
    height 100vh

    // font
    font-size fontSize
    font-family fontFamily 
    line-height 1.4
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

    // color
    background bgColor
    color textColor

  

h1,
h2,
h3,
h4,
h5,
h6
    margin-top 3rem

ul,
ol,
dl
    margin-bottom 20px
   

a:link
a:visited
    color #000
    text-decoration none
a:hover
    text-decoration underline


button,
input,
option,
select,
textarea 
  font: inherit;


button:focus,
input:focus,
textarea:focus 
  outline: 0;

img,
video,
canvas,
iframe
  max-width 100%
  border 0 none

table 
    width: 100%;
      
table,
th,
td 
    border: thin solid black
    border-collapse collapse
    padding: 0.4rem

hr 
    text-align center
    border 0
    
hr:before 
    content "/////"
hr:after 
    content attr(data-content) "/////"
      

pre[class*='language-']
    position relative
    overflow-x auto
    color textColor
    font-size fontSize * 0.8
    padding 0.25rem 0.5rem
    background-color transparent
    background-color  rgba(27, 31, 35, 0.05)
    border-radius: 3px;
    font-family monospace !important

a.header-anchor
  font-size 0.85em
  float left
  margin-left -0.87em
  padding-right 0.23em
  margin-top 0.125em
  opacity 0
  &:hover
    text-decoration none

 blockquote 
    color gray
    letter-spacing -1px
    border thin solid #e8e8e8;
    padding 0.75rem
    margin 0.75rem
    @media (max-width: 600px) 
        font-size fontSize * 0.8
    p 
        margin 0