@import "./base.styl";
    
.all-content
    max-width 640px
    min-height 100vh
    margin 0 auto
    padding: 0 6rem
    display flex
    flex-direction column
    background-color #fff
    box-shadow: 3px 3px 5px  rgba(146, 143, 143, 0.3);
    @media (max-width: 600px)
         padding: 0 2rem
         box-shadow: none

.reading-content
  flex 1
  padding 30px 0 40px 0

.header
  margin-top 20px
  line-height 0.5
  padding-left 0.25rem

  .home-title
    font-size fontSize * 2
    font-weight 1000

  .home-description
    font-size fontSize * 0.9